composio_crewai
crewai
langchain_openai
ably
pyautogui
pillow
openai
annotated-types
anyio
certifi
charset-normalizer
colorama
contourpy
cycler
distro
EasyProcess
entrypoint2
exceptiongroup
fonttools
h11
httpcore
httpx
idna
importlib-resources
kiwisolver
matplotlib
MouseInfo
mss
numpy
packaging
Pillow
prompt-toolkit
PyAutoGUI
pydantic
pydantic_core
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
pyscreenshot
PyScreeze
python3-xlib
python-dateutil
python-dotenv
pytweening
requests
rubicon-objc
six
sniffio
tqdm
typing_extensions
urllib3
wcwidth
zipp
google-generativeai
aiohttp
ultralytics
easyocr
ollama
anthropic
